*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;

}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: none
}

address {
    font-style: normal
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/*------ common ----*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.hiden-css {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}



/* ===============Other code=============== */

/* ==================----Header---=================== */

.hat-container {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.hat-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-list,
.contact {
    display: none;
}



.hat-logo {
    padding: 16px 0;
    display: block;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-span-heder {
    color: #2e2f42;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .header-navnavigation {
        display: flex;
        align-items: center;
    }

    .navigation-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .hat-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .navigation-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link.current {
        position: relative;
    }

    .navigation-link.current::after {
        content: '';

        position: absolute;
        left: 0;
        bottom: -1px;

        width: 100%;
        height: 4px;
        border-radius: 2px;

        background-color: #404bbf;
    }

    .contact {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contakt-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .navigation-link:hover,
    .navigation-link:focus,
    .contakt-link:hover,
    .contakt-link:focus,
    .navigation-link.current {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .hat-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contakt-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    width: 100%;
    height: 100%;
    position: relative;
    
    padding: 72px 24px 40px 16px;
    background-color: #ffffff;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.mob-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
}

.navigation-mob-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: auto;
}

.navigation-mob-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-mob-link.current {
    color: #404bbf;
}


.mobile-contakt {
    margin-bottom: 48px;
}


.mobile-contakt-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contakt-item.tel {
    color: #4d5ae5;
}

.mobile-contakt-item {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}


.mobile-social-list {
    display: flex;
    gap: 40px;
}

.bottom-icon-item {
    display: flex;
    align-items: baseline;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.bottom-icon-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-icone {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

/* =========Hero "Main" section========= */

.main {
    background-color: #2e2f42;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg/hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 @media screen and (min-device-pixel-ratio: 2),
 screen and (min-resolution: 192dpi),
 screen and (min-resolution: 2dppx) {
     .main {
         background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                 rgba(46, 47, 66, 0.7)),
             url(../images/hero-bg/hero-mob@2x.jpg);
     }
 }

.container {}

.main-container {}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.button-main {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;

    display: block;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
    background-color: #404bbf;
}

/* ---------TABLET--------- */

@media screen and (min-width: 768px) {
.main {
        background-color: #2e2f42;
        padding: 112px 0;
        max-width: 768px;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg/hero-tab.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-tab@2x.jpg);
        }
    }

    .main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;

        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 36px;
    }

    .button-main {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;

        display: block;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        margin: 0 auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .button-main:hover,
    .button-main:focus {
        background-color: #404bbf;
    }
}

/* --------DESKTOP--------- */

@media screen and (min-width: 1158px) {
    .main {
            padding: 188px 0;
            max-width: 1440px;
            margin: 0 auto;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg/hero-desk.jpg);
        }
    
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            .main {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/hero-bg/hero-desk@2x.jpg);
            }
        }
    
        .main-title {
            margin-bottom: 48px;
        }
}


/* ============-----Feaurest------============== */

.features {
   padding: 96px 0;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {}

.features-item-icon {
    display: none;

}

.features-icon {}

.features-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ----------TABLET---------- */

@media screen and (min-width: 768px) {

.features-list {
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
    }

    .features-item {
        width: 356px;
    }


    .features-title {
        text-align: start;
        font-weight: 700;
         font-size: 36px;
         line-height: 1.11111;
         letter-spacing: 0.02em;
         color: #2e2f42;
    }

    .features-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
}

/* ----------DESKTOP------------ */

@media screen and (min-width: 1158px) {
.features {
        padding: 120px 0;
    }
.features-item {
        width: 264px;
    }

    .features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .features-text {
        font-weight: 400;
    }

  .features-item-icon {
      background: #f4f4fd;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      width: 264px;
      height: 112px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
  }
}

/* ======---TEAM SECTION--====== */

.team {
    background-color: #f4f4fd;
}

.container {}

.team-container {
    padding: 96px 0px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.team-item {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
         0px 1px 1px 0px rgba(46, 47, 66, 0.16),
         0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     background-color: #ffffff;
     border-radius: 0px 0px 4px 4px;
     width: 264px;
}

.team-content {
    text-align: center;
    padding: 32px 0;
}

.team-lider-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team-icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

.team-icone {
    fill: #f4f4fd;
}

/* ------TABLET----- */

@media screen and (min-width: 768px) {
.team {
        background-color: #f4f4fd;
    }


    .team-list {
        display: flex;
        flex-direction: row;
        gap: 64px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-item {
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        width: 264px;
    }

    .team-content {
        text-align: center;
        padding: 32px 0;
    }

    .team-icon-list {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .social-item {
        width: 40px;
        height: 40px;
    }

    .social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link:hover,
    .social-link:focus {
        background-color: #404bbf;
    }

    .social-icon {
        fill: #f4f4fd;
    }
}

@media screen and (min-width: 1158px) {
.team-container {
        padding: 120px 0px;
    }
}

/* =======----Portfolio section---======= */

.portfolio {
    padding: 96px 0px;
}

.container {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-img-container {
    position: relative;
    overflow: hidden;
}

.overlay-txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -----Tablet------ */

@media screen and (min-width: 768px) {
    
    
    .container {}

    .portfolio-title {}

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: 356px;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

     .portfolio-item:hover {
         box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
             0px 1px 1px 0px rgba(46, 47, 66, 0.16),
             0px 1px 6px 0px rgba(46, 47, 66, 0.08);
     }

    .portfolio-img-container {
        position: relative;
        overflow: hidden;
    }

    .overlay-txt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 32px;
        color: #f4f4fd;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background-color: #4d5ae5;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

     .portfolio-item:hover .overlay-txt {
         transform: translateY(0);
     }

    .portfolio-content {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
    }

    .portfolio-project {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
    }

    .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}

/* ---------Desktop-------- */

@media screen and (min-width: 1158px) {

    .portfolio {
        padding: 120px 0px;
    }

    .portfolio-list {
         gap: 48px 24px;
     }
    
     .portfolio-item {
         width: 360px;
     }
}

/* ==============-----Footer section-----============== */

.bottom {
    background-color: #2e2f42;
    
}


.bottom-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 96px 16px;
    justify-content: center;
    align-items: center;
}

.bottom-about {}

.logo {}

.logo-footer {
 display: block;
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
 margin-bottom: 16px;
 text-align: center;
}

.logo-span-footer {
  color: #f4f4fd;
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.bottom-social {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.bottom-social-text {}

.bottom-icon-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.bottom-icon-item {
    width: 40px;
    height: 40px;
}

.bottom-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bottom-icon-link:hover,
.bottom-icon-link:focus {
    background-color: #31d0aa;
}

.bottom-icone {
    fill: #f4f4fd;
}

.footer-form-container {}

.footer-form-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.label-footer {}

.footer-input {
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    width: 288px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input:focus,
.footer-input:hover {
    border-color: #31d0aa;
}
    
.footer-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    min-width: 165px;
    justify-content: center;
    margin: 0 auto;

    padding: 8px 24px;
    color: #ffffff;
    border-radius: 4px;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
.footer-btn:hover,
.footer-btn:focus {
    background-color: #31d0aa;
}

.footer-btn-icon {
    margin-left: 16px;
}

/* -------Tablet------ */

@media screen and (min-width: 768px) {
.bottom-container {
        padding: 96px 108px;
    }
.bottom-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    align-items: baseline;
}
.logo-footer {
    display: inline-block;
}
.footer-form {
    flex-direction: row;
}
.footer-form-title {
    text-align: start;
}
.bottom-social-text {
text-align: start;
}
.footer-input {
width: 264px;
}
}

/* ---------Desktop---------- */

@media screen and (min-width: 1158px) {
.bottom-container{
    padding: 100px 15px;
}   
.bottom-about {
margin-right: 120px;
}
.bottom-social {
    margin-right: auto;
}
}

/* ========------Modal----========= */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    height: 623px;
    border-radius: 4px;
    padding: 72px 16px 24px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    padding: 0;
    cursor: pointer;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    background-color: #404bbf;
}

.modal-close-btn:hover svg,
.modal-close-btn:focus svg {
    fill: #fff;
}

.name-modal {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.field-for-modal {
    margin-bottom: 8px;
}

.label-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.only-name {
    position: relative;
}

.input-form {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
    border: 1px solid #4d5ae5;
}

.svg-form {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus+svg {
    fill: #4d5ae5;
}

.comment-cont {
    margin-bottom: 16px;
}

.textarea-form {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus {
    border-color: #4d5ae5;
}

.check-cont {
    margin-bottom: 24px;
}

.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

}



.modal-check:checked+label>.span-check {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}


.span-check {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    margin-right: 8PX;
    flex-shrink: 0;
}

.privacy {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.btn-send {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover {
    background: #404bbf;
}

.btn-send:focus {
    background: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -------Tablet------- */

@media screen and (min-width: 768px) {
 .modal {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;

 }   
}